/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  max-height 0
  padding 0 !important
  transform translateX(-120%)
  transition all 0.5s

  &.order-enter-active
    max-height 60px
    padding 2rem 0 !important
    transform translateX(0)

.order-leave
  transform translateX(0)
  transition all 0.5s

  &.order-leave-active
    max-height 0
    padding 0 !important
    transform translateX(-120%)

.count-enter
  transform translateY(100%)
  transition all 0.25s

  &.count-enter-active
    transform translateY(0)

.count-leave
  position absolute
  left 0
  bottom 0
  transform translateY(0)
  transition all 0.25s

  &.count-leave-active
    transform translateY(-100%)
